div{
    height: 200px;
    width: 200px;
}

.p1{
   background-color: cadetblue;
      padding: 20px;
      border: 10px solid black;
}

.p2{
    background-color: gold;
      border: solid black;
      border-width: 20px 10px;
      margin-left: 230px;
      margin-top: 142px;
}

.p3{
    background-color: indianred;
      border: 10px solid black;
      margin-left: 11px;
p{
    margin: 0;
}