body{
    background-color: yellow;
}
.p1{
    width: 200px;
    height: 200px;
    background-color: lightcyan;
    padding: 20px;
  border: 10px black solid;
}

.p2{
    background-color: lightslategrey;
    
    width: 200px;
    height: 200px;
    border-bottom: 20px solid black;
    border-top: 20px solid black;
    border-left: 10px solid black;
    border-right: 10px solid black;
    align-content: center;
    margin-top: 160px;
    margin-left: 220px;

}

.p3{
background-color: rgb(209, 79, 79);
width: 200px;
height: 200px;

border: 10px solid black;
margin-top: 1px;

}
p{
    margin: 0%;
}

