#p1{
    color: coral;
}

#p2{
    font-size: 2em;
   
}
#p3{
    font-weight: 900;
}

#p4{
 font-family: "Bitcount Prop Single", system-ui;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;

}

#p5{
    text-align: right;
}

